{% extends 'base.html' %}
{% block content %}

  <br>
   <br>
   <br>
   <br>

    <form name = "form" method = "POST" action="">{% csrf_token %}
  <div class="form-group">
    <div class="container">
    <br>
    <br>
    <!-- INICIO DEL PUNTO UNO-->
     <label for="lfname"> a) Desarrolle una aplicación Web que le permita ejecutar el primero de los retos anteriores por iniciativa de un usuario, desde un navegador Web. Permita que el usuario indique el nombre del archivo de trabajo.</label>
     <br>
    <h3><a href="puntoA/">Ver punto a </a></h3>
      <br>
    <br>
     <label for="lfname"> b) Modifique la aplicación Web para que, ahora, se muestren los nombres de los archivos disponibles para el ejercicio y el usuario escriba el nombre de aquel con el que quiere trabajar el mismo reto anterior.</label>
      <br>
    <h3><a href="puntoB/">Ver punto b </a></h3>
      <br>
    <br>
     <label for="lfname"> c) Modifique la aplicación Web para que, ahora, se muestren los nombres de los archivos disponibles para el ejercicio y el usuario seleccione aquel con el que quiere trabajar el mismo reto anterior.</label>
      <br>
    <h3><a href="puntoC/">Ver punto c </a></h3>
      <br>
    <br>
        <label for="lfname"> d) Modifique la aplicación Web para que ahora el resultado del reto se muestre en la aplicación Web. </label>     <br>
       <br>
         <h5 for="lfname"> Esto ya ocurre en todos los puntos. </h5> <br><br>

     <label for="lfname"> e) Complete la aplicación para que ahora se pueda ejecutar cualquiera de los retos, tomando los parámetros de ejecución y mostrando los resultados en la aplicación Web.</label>
      <br>
    <h3><a href="puntoE/">Ver punto e </a></h3>
      <br>
    <br>
     <label for="lfname"> f) Muestre los resultados de los retos d, e y f en una nube de palabras.</label>
      <br>
    <h3><a href="puntoF/">Ver punto f </a></h3>
      <br>
    <br>

    </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
       </div>
    </form>
{% endblock %}