{% extends 'base.html' %}
{% block content %}



    <form name = "form" method = "POST" action="/puntoE/">{% csrf_token %}
  <div class="form-group">
    <div class="container">

   <br>
     <br>
    <h3><a href="/">Volver a las opciones </a></h3>
   <br>
   <br>
    <!-- INICIO DEL PUNTO UNO-->
     <h3>Complete la aplicación para que ahora se pueda ejecutar cualquiera de los retos, tomando los parámetros de ejecución y mostrando los resultados en la aplicación Web..</h3>
    <br>
        <h2>Retos</h2>
     <label for="lfname">a) Encuentre cuántas palabras hay en UNO de los archivos del dataset. Su grupo selecciona con cuál archivo realizan el ejercicio. </label>
     <label for="lfname">b) Encuentre cuántas veces aparece cada palabra presente EN EL MISMO archivo seleccionado en el reto anterior. Ahora, el nombre del archivo seleccionado se recibe como parámetro del proceso. </label>
     <label for="lfname">c) Encuentre las N palabras más frecuentes en el archivo anterior, con su frecuencia de aparición. N es un parámetro del proceso. </label>
     <label for="lfname">d) Repita los retos anteriores, realizando el trabajo sobre DOS archivos, en EL MISMO proceso. </label>
     <label for="lfname">e) Repita los retos anteriores, realizando el trabajo sobre un número X de archivos, cuyos nombres se reciben como parámetro del proceso. Se sugiere que X sea máximo 3. </label>
     <label for="lfname">f) Realice un proceso que indique en cuál archivo aparece más veces cierta palabra y cuál archivo tiene más palabras, dentro de un grupo de X archivos seleccionados como parámetro.     </label>
      <br>
        <br>

    <h2>Seleccione uno o varios archivos</h2>

     <select class="custom-select"  name="file_1">
      <option selected>Seleccione el primer archivo</option>
        {% for dt in data %}

            <option value="{{ dt }}">{{ dt }}</option>
        {% endfor %}
      </select>
    <!--  <div class="form-group">
     <br>
  <label for="lbl_p2">Ingrese el la palabra que desea buscar para el archivo 1</label>
    <input type="text" class="form-control"  placeholder="Palabara para el archivo 1" name="textfield_archivo_1">

   </div>  -->
     <br>
      <br>
        <br>
     <select class="custom-select"  name="file_2">
      <option selected>Seleccione el segundo archivo</option>
        {% for dt in data %}

            <option value="{{ dt }}">{{ dt }}</option>
        {% endfor %}
      </select>
    <!--    <div class="form-group">
      <br>
    <label for="lbl_p2">Ingrese el la palabra que desea buscar para el archivo 2</label>
    <input type="text" class="form-control"  placeholder="Palabara para el archivo 2" name="textfield_archivo21">

   </div>    -->
     <br>
      <br>
        <br>
    <select class="custom-select" name="file_3">
      <option selected>Seleccione el tercer archivo</option>
        {% for dt in data %}

            <option value="{{ dt }}">{{ dt }}</option>
        {% endfor %}
      </select>
   <!-- <div class="form-group">
        <br>
    <label for="lbl_p2">Ingrese el la palabra que desea buscar para el archivo 3</label>
    <input type="text" class="form-control"  placeholder="Palabara para el archivo 3" name="textfield_archivo_3">

   </div>  -->
      <br>
      <br>
    <label for="lbl_p2">Ingrese el la palabra que desea buscar en el o los archivos seleccionados</label>
    <input type="text" class="form-control"  placeholder="Palabra a buscar" name="keyword_archivo">

    <br>
    <br>
    <input type="submit" class="btn btn-primary" value="Enviar"/>
    </Scr>
        <br>
        <br>

       {% if totalWords_file1 > 0 %}
             <label for="lfname">Para el primer archivo {{ filename1 }} , el total de palabras es {{ totalWords_file1 }}.</label>

       {% endif %}
     <br>
        <br>

       {% if totalWords_file2 > 0 %}
             <label for="lfname">Para el segundo archivo {{ filename2 }} , el total de palabras es {{ totalWords_file2 }}.</label>

       {% endif %}
     <br>
        <br>

       {% if totalWords_file3 > 0 %}
             <label for="lfname">Para el tercer archivo {{ filename3 }} , el total de palabras es {{ totalWords_file3 }}.</label>

       {% endif %}
     <br>
        <br>

       {% if key_word|length > 0 %}
             <label for="lfname">La palabra a buscar fue {{ key_word }}.</label>

       {% endif %}

  <br>
        <br>
      <br>
        <br>
    </div>
  </div>
    </form>
{% endblock %}